<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information about Person</title>
</head>
<body>

    <p th:text="${person.getFio() + ', ' + person.getBirth_of_year()}"/>

    <div th:if="${list_of_books} != null">
        <hr/>
        <h4>Книги:</h4>
        <p th:each="book : ${list_of_books}" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
    </div>

    <div th:unless="${list_of_books != null}">
        <p>Человек пока не взял ни одной книги</p>
    </div>

    <hr/>

    <form th:action="@{/people/{id}/edit (id = ${person.getPerson_id()})}">
        <input type="submit" value="Редактировать">
    </form>

    <form th:method="DELETE" th:action="@{/people/{id} (id = ${person.getPerson_id()})}">
        <input type="submit" value="Удалить">
    </form>



</body>
</html>